@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 30, 41, 59;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* スムーズスクロール */
html {
  scroll-behavior: smooth;
}

/* 画像の読み込み中のスタイル */
img[data-loading] {
  filter: blur(10px);
  transition: filter 0.3s;
}

img {
  transition: filter 0.3s;
}
